@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <h3>
            <b> Name :</b> @TempData["Name"]
        </h3>

        <h3>
            <b> Age :</b> @TempData["Age"]
        </h3>

        <h3>
            <b> Designation :</b> @ViewData["Designation"]
        </h3>

    </div>
    
</div>
