@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div>
    <h3>
        <b> Name :</b> @TempData["Name"]
    </h3>

    <h3>
        <b> Age :</b> @TempData["Age"]
    </h3>

    <h3>
        <b> Designation :</b> @ViewData["Designation"]
    </h3>

</div>